<%- include('../header.html'); %>

<div class="community_container">
	<div class="community_sidemenu fl">
		<ul>
			<div class="orange">커뮤니티</div>
			<a href="/board/freeboard/1"><li>자유게시판</li></a>
			<a href="/board/qna/1"><li>Q&amp;A</li></a>
		</ul>
	</div>
	<div class="community_table_wrap">
		<div class="board_title">
			<%= board_title_name; %>
		</div>
		<table class="community_table">
			<thead>
				<tr>
					<th style="width : 10%;">번호</th>
					<th style="width : 50%;">제목</th>
					<th>작성자</th>
					<th>작성일</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><?=$fetch['PostID']?></td>
					<td><a href="<?=BBSPATH?>/post.php?id=<?=$fetch['PostID']?>"/><?=$fetch['title']?></a></td>
					<td><?=$fetch['id']?></td>
					<td><?=$fetch['date']?></td>
				</tr>
				<?php
					}
				?>
			</tbody>
		</table>
	</div>
	<div class="pagination-container">
       <div class="pagination-inner">
           <ul class="pagination">
				<li><a href="javascript:addOrUpdateUrlParam(window.location.href, 'page', <?=$s_page-1 <= 1 ? 1 : $s_page - 1?>);">&laquo;</a></li>
                <?php
                for ($p=$s_page; $p<=$e_page; $p++) {
                ?>
                   <li><a class="<?=($page == $p) ? 'active' : 'n' ?>" href="javascript:addOrUpdateUrlParam(window.location.href, 'page', <?=$p?>);"><?=$p?></a></li>
                <?php
                }
                ?>
				<li><a href="javascript:addOrUpdateUrlParam(window.location.href, 'page', <?=$e_page+1 >= $pageNum ? $pageNum : $e_page+1 ?>);">&raquo;</a></li>
           </ul>
       </div>
		<div class="btnWrap">
			<a href="/board_write/<%=board_title%>"><div class="write_btn gray fr">글쓰기</div></a>
		</div>
    </div>
</div>

<%- include('../footer.html'); %>